<IfModule mod_rewrite.c>

Options +FollowSymLinks

RewriteEngine On



RewriteCond %{REQUEST_URI} !^/public/

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME} !-f



RewriteRule ^(.*)$ /public/$1

#RewriteRule ^ index.php [L]

RewriteRule ^(/)?$ public/index.php [L]

</IfModule>

<Files ~ "\.(env|json|md|xml|gitignore|gitattributes|lock|editorconfig|yml|styleci.yml)$">

 Order allow,deny

 Deny from all

</Files>

Options -Indexes

<Files ~ "(artisan|package.json|webpack.mix.js)$">

 Order allow,deny

 Deny from all

</Files>
